

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% load staticfiles %}
    <meta name="description" content="URL shortener">
    <meta name="author" content="Urban Virt">
    <meta property="og:image" content="https://ten-clouds-interview.herokuapp.com//static/urbanVirt.jpeg" />
    <meta property="og:title" content="URL shortener" />
    <meta property="og:description" content="Creates short aliases for long URLs" />

    
    <link rel="icon" href="{% static 'urbanVirt.ico' %}">

    <title>10Clouds interview</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'jumbotron-narrow.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<br/>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class= "{% block home %}{% endblock %}"><a href="/">Home</a></li>
            <li role="presentation" class = "{% block about %}{% endblock %}"><a href="/about">About</a></li>
            <li role="presentation" class = "{% block contact %}{% endblock %}"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">10Clouds interview</h3>
      </div>

		{% block content %}
		{% endblock %}

      <footer class="footer">
        <p>&copy; 2016 Urban Virt :)</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
