{% extends "urlShortener/mutual/base_extend.html" %}

{% block home %}{% endblock %}
{% block about %}{% endblock %}
{% block contact %}active{% endblock %}

{% block content %}

<div class="jumbotron">
          


          {% load staticfiles %}
          <img class="img-circle" src="{% static 'urbanVirt.jpeg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Urban Virt</h2>
          <p>

          </p>
          <p><a class="btn btn btn-info" href="https://github.com/urbansan" >goto GitHub &raquo;</a></p>


</div>

	
{% endblock %}



