{% extends "urlShortener/mutual/base_extend.html" %}
<!-- {% include 'mutual/header_include.html' %} -->
{% block home %}active{% endblock %}
{% block about %}{% endblock %}
{% block contact %}{% endblock %}

{% block content %}

<div class="jumbotron">
<h2 class="custom_margin_buttom">Submit an URL to shorten it:</h2>
<form method='post' action="/">{% csrf_token %}
		<p class="lead">
		        <!-- <div class="form-group"> -->
		        	{{ form.as_p}}
		        <!-- </div> -->
		<br/>
		<button type="submit" class="btn btn-success" >Submit</button>
	</p>
</form>
<!-- <p><a class="btn btn-lg btn-success" href="/baziora" role="button">submit</a></p> -->
{% if errors %}


	<br/>
	<h3>{{ errors|first }}</h3>


{% else %}
<br/>


{% endif %}


</div>

	
{% endblock %}