{% extends "urlShortener/mutual/base_extend.html" %}
{% block content %}

<div class="jumbotron">

{% if errors %}

	<label>{{ errors }}</label>
	<p class="lead">
	    <div class="form-group">
	    </div></p>

{% else %}
	<label>Your short URL is:</label>
	<p class="lead">
	    <div class="form-group">
	    	<br/> User name: {{ record.user.user_name }}
	    	<br/> First name: {{ record.user.first_name }}
	    	<br/> Last name: {{ record.user.last_name }}
	    	<br/> email: {{ record.user.email }}
	    	<br/> date joined: {{ record.user.date_joined }}
			<br/>direct address: <a href="{{ record.user_url }}">{{ record.user_url }}</a>
			<br/>short address: <a href="/{{ record.short_url }}">{{ record.short_url }}</a>
			<br/>short address to this page: <a href="/!{{ record.short_url }}">!{{ record.short_url }}</a>
	    </div></p>
{% endif %}

</div>
	
{% endblock %}