{% extends "urlShortener/mutual/base_extend.html" %}
{% block content %}

<div class="jumbotron">

{% if errors %}

	<label>{{ errors }}</label>
	<p class="lead">
	    <div class="form-group">
	    </div></p>

{% else %}
	<h2 class = "custom_margin_buttom">Your short URL is:</h2>
	<p class="lead">
	    <div class="custom_left">
		    <table>

		    <col width="120">
			    <tr>
			    	<td>User name:</td><td>{{ record.user.username }}</td>
			    </tr>
			    <tr>
			    	<td>First name:</td><td>{{ record.user.last_name }}</td>
			    </tr>
			    <tr>
			    	<td>Last name:</td><td>{{ record.user.email }}</td>
			    </tr>
			    <tr>
			    	<td>date joined:</td><td>{{ record.user.date_joined }}</td>
			    </tr>
			</table>
				direct address: <a href="{{ record.user_url }}">
				 {{  record.user_url|truncatechars:65 }}  </a> 
				<br/>short address: <a href="/{{ record.short_url }}">
					{{ host }}/{{ record.short_url }}</a>
				<br/>address to this page: <a href="/!{{ record.short_url }}">
					{{ host }}/!{{ record.short_url }}</a>
	    </div></p>
{% endif %}

</div>
	
{% endblock %}